In [12]:
import numpy as np

class LassoRegression:
    def __init__(self, alpha, learning_rate: int = 0.001, n_iter: int = 2000) -> None:
        self.lr = learning_rate
        self.n_iter = n_iter
        self.w = None
        self.w = None
        self.alpha = alpha

    def fit(self, X, y):
        num_s, num_f = X.shape
        self.w = np.random.rand(num_f)
        self.b = 0

        for i in range(self.n_iter):
            y_pred = np.dot(X, self.w) + self.b

            dw = (1 / num_s) * np.dot(X.T, y_pred - y) + self.alpha * np.sign(self.w)
            db = (1 / num_s) * np.sum(y_pred - y)

            self.w = self.w - self.lr * dw
            self.b = self.b - self.lr * db

        return self

    def predict(self, X):
        return np.dot(X, self.w) + self.b

In [13]:
X = np.array([[1],[2],[3],[4],[6],[8],[10]])
y = np.array([2,4,6,8,12,16,20])
lasso = LassoRegression(alpha=0.1)
lasso.fit(X, y)
lasso.predict([[59]])

array([116.89782803])

In [14]:
lasso.w

array([1.97930477])

In [1]:
import pandas as pd
df = pd.read_csv("Bengaluru_House_Data.csv")
df.head(5)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [2]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [9]:
dff = df.dropna()

In [11]:
df1 = dff[["total_sqft", "bath", "balcony"]]
X = df1
y = dff[["price"]]
y

        price
0       39.07
1      120.00
3       95.00
5       38.00
11     295.00
...       ...
13313   57.00
13314  112.00
13315  231.00
13317   60.00
13318  488.00

[7496 rows x 1 columns]

In [16]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.33)

In [17]:
lasso.fit(X_train, y_train)

In [19]:
y_pred = lasso.predict(X_test)

In [23]:
from sklearn.metrics import mean_absolute_error, r2_score

mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(mae, r2)

0.10603433452497531 0.9997146931375365